.customContainer {
  padding: 40px 0;
  @media (min-width: 992px) {
    padding: 20px 0;
  }
}

.customRow {
  margin: 0;
  justify-content: center;
}

.customCol {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.social {
  display: flex;
  flex-direction: row;
  @media (min-width: 992px) {
    flex-direction: row;
  }

  a {
    color: white;
    opacity: 0.5;
    margin: 0 20px;
    transition: 0.3s opacity;

    &:hover {
      opacity: 1;
    }

    svg {
      width: 32px;
    }
  }
}
