.content {
  background: #242424;
  color: #fff;
}

.customRow {
  margin: 0;
  justify-content: center;
}

.title {
  text-align: center;
}

.customCol {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardColumns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
}

.newsCard {
  .newsTitle {
    font-size: 25px;
    margin-bottom: 0;
  }
  .newsSubtitle {
    font-size: 14px;
    opacity: 0.5;
    margin: 5px 0 10px;
    font-weight: 400;
  }
}

.footer {
  background-color: #373a3c;
  color: #fff;
}
